################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj/Debug
/.vs/MyFirstMVCApplication/v15/Server/sqlite3
/*.user
/DotnetSamples/bin
/DotnetSamples/obj/Debug
bin
obj
