@model MVC.Samples.Data.Models.UserRegistration

@{
    ViewBag.Title = "Register";
}


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <label class="label-danger">@ViewBag.ErrorMessage</label>
    </div>
</div>
