@model MVC.Samples.Web.Models.UserModel
@{
    ViewBag.Title = "Index";
}
<h2>Welcome Boys!</h2>
<div class="container">
    <div class="col-xs-6 text-center">
        <h1>
            <a href="@Url.Content("~/Ravi/Home/Index")">Ravi</a>
        </h1>
    </div>
    <div class="col-xs-6 text-center">
        <h1>
            <a href="@Url.Content("~/Guru/Login")">Guru</a>
        </h1>
    </div>
</div>